 @media(max-width: 709px){
    button{
        position: relative;
        width: 100px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 10px;
        color: #D8C40A;
        background: #115582;
    }
    header {
        width: 100%;
        height: 60px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    h1, h2{
        font-size: 1.1rem;
    }
    .contentPaking{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:10px 0px;
    }
    .boxVacancies{
        width: 300px;
        height: 475px;
        background:#fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .boxVacancies button{
        left: 75px;
        bottom: -50px;
    }
    .contentInpunt{
        width: 100%;
        height: 150px;
        display: flex;
       flex-direction: column;
    }
    .boxInputStyle{
        width: 300px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    label{
        font-size: .9rem;
        color: #115582;
    }
    input[type="text"],
    select{
        width: 250px;
        height: 50px;
        font-size: 1.4rem;
        border: 2px solid #115582;
        padding-left: 5px;
        border-radius: 10px;
    
    }
    
    .waveControl{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardsContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .cardControlWave{
        width: 100%; 
        height: 250px;
        background:#fff;
        border-radius: 10px;
        margin: 10px 0px;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .imageCard{
        width: 75px;
        height: 75px;
        margin-bottom: 15px;
        background:#115582;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageCard img{
        width: 75%;
        height: 75%;
    }
    
    .informationBox{
        width: 250px;
        height: 75px;
        display: flex;
        justify-content:space-around;
        align-items:center;
    }
    .numberClient{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        font-weight: 300;
        width: 100px;
        height: 75px;
        border-radius: 10px;
        background:#115582;
        color: #D8C40A;
    }
    .registerPrice{
        border-radius: 20px;
        width: 300px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-bottom: 15px;
        background: #ffffff;
    }
    .registerPrice input{
        margin-left: 30px;
    }
    .registerPrice button{
        top: 30px;
        left: 100px;
    }
    .report{
        width: 300px;
        height: 325px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .generateReport{
        width: 250px;
        height: 100px;
        margin: 10px 0px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 600;
        color: #D8C40A;
        background: #115582;
    }
}
@media(min-width: 710px){
    h1, h2{
        font-size: 1.2rem;
    }
    
    header {
        width: 100vw;
        height: 10vh;
        background: #FFFFFF;
        font-size: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
    }
    header img{
        width: 10vw;
        height: 10vh;
    }
    #contentCenter{
        display: flex;
    }
    .contentPaking{
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;        
        padding:10px 0px;
        margin: 10px;
        /* border: 2px solid #115582; */
    }
    .boxVacancies{
        width: 700px;
        height: 450px;
        margin-bottom: 20px;
        background:#fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
    .boxVacancies button{
        left: 75px;
        bottom: -50px;
    }
    #cobrar {
        left: 200px;
    }
    .contentInpunt{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
    }
    .boxInputStyle{
        width: 300px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    label{
        font-size: 1.8rem;
        color: #115582;
    }
    input[type="text"],
    select{
        width: 250px;
        height: 50px;
        font-size: 1.4rem;
        border: 2px solid #115582;
        padding-left: 5px;
        border-radius: 10px;
    
    }
    .tableControl{
        width: 800px;
        min-height: 500px;
        height: auto;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
        background:#fff;
    }
    table{
        width: 600px;
        height: 100px;
        text-align: center;
    }
    tr{
        width: 100%;
        height: 50px;
        border: solid 1px black;
    }
    td{
        width: 100px;
        height: 30px;
        text-align: center;
    }
    .tableLineStyle{
        border-radius: 10px;
        border: 2px solid #115582;
    }
    .tableLineStyle img{
        width: 50px;
        height: 50px;
    }
    .waveControl{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .cardsContainer{
        width: 400px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardControlWave{
        width: 350px; 
        height: 350px;
        background:#fff;
        border-radius: 10px;
        color: #D8C40A;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .imageCard{
        width: 75px;
        height: 75px;
        margin-bottom: 15px;
        background:#115582;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageCard img{
        width: 75%;
        height: 75%;
    }   
    
    .informationBox{
        width: 250px;
        height: 75px;
        display: flex;
        justify-content:space-around;
        align-items:center;
    }
    .numberClient{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        font-weight: 300;
        width: 100px;
        height: 75px;
        border-radius: 10px;
        background:#115582;
        color: #D8C40A;
    }
    .registerPrice{
        border-radius: 20px;
        width: 500px;
        height: 400px;
        display: flex;
        justify-content:center;
        background: #ffffff;
    }
    .registerPrice button{
        top: 75px;
        right:  200px;
    }
    .report{
        width: 600px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
    }
    .generateReport{
        width: 500px;
        height: 100px;
        margin: 10px 0px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 600;
        color: #D8C40A;
        background: #115582;
    }
    .generateReport:hover{
        cursor: pointer;
        background: #1876b5;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 1000px;
        height: 400px;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}