@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e8e8e8;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: var(--color-text-base);
}
.hidden{
    display:none;
}
